body {
  background-color: #08176d;
  background-image: url("./image/cavePng.png");
};
background-image: {
    opacity: 50%;
};
#text {
  background-color: #045cd0;
  color: #97fff6;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#game {
  max-width: 500px;
  max-height: 400px;
  background-color: #46cf9d;
  color: #ffffff;
  margin: 30px auto 0px;
  padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#controls,
#stats {
  border: 1px solid #ffffff;
  padding: 5px;
  color: #e8faff;
  
}

#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c42323;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #ffffff;
  background-color: #c0f2c9;
  background-image: linear-gradient(#4c64fe, #3aedfe);
  border: 3px solid #3e9ce9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
